.card {
  height: 100%;

  padding: 16px;
  margin: 0;

  color: #757575;

  background: transparent;
}

.circle {
  display: inline-block;

  width: 64px;
  height: 64px;

  font-size: 30px;
  line-height: 64px;

  color: #555;

  text-align: center;

  background: #ddd;

  border-radius: 50%;
}

h1 {
  margin: 16px 0;

  font-size: 22px;

  color: #212121;
}
