:host {
  --app-primary-color: #4285f4;
  --app-secondary-color: black;

  display: block;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

app-header {
  color: #fff;

  background-color: var(--app-primary-color);
}

app-header paper-icon-button {
  --paper-icon-button-ink-color: white;
}

.drawer-list {
  margin: 0 20px;
}

.drawer-list a {
  display: block;

  padding: 0 16px;

  line-height: 40px;

  color: var(--app-secondary-color);

  text-decoration: none;
}

.drawer-list .iron-selected {
  font-weight: bold;

  color: black;
}

@keyframes transition-in__animation {
  from {
    opacity: 1;

    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }
}

@keyframes transition-out__animation {
  from {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;

    transform: translate3d(100%, 0, 0);
  }
}

iron-lazy-pages {
  // scss-lint:disable ImportantRule
  --iron-lazy-pages-display: block !important;
  // scss-lint:enable ImportantRule

  min-height: 100vh;

  perspective: 1200px;

  transform-style: preserve-3d;

  transition: background .7s ease-in-out;
}

iron-lazy-pages > * {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 1;

  transform-style: preserve-3d;

  transform: translate3d(-100%, 0, 0);

  backface-visibility: hidden;
}


.transition--in {
  z-index: 9;

  animation: transition-in__animation .6s ease both;
}

.transition--out {
  animation: transition-out__animation .7s ease-in-out both;
}
