:host {
  --app-primary-color: #4285f4;
  --app-secondary-color: black;
  display: block;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

app-header {
  color: #fff;

  background-color: var(--app-primary-color);
}

app-header paper-icon-button {
  --paper-icon-button-ink-color: white;
}

.drawer-list {
  margin: 0 20px;
}

.drawer-list a {
  display: block;

  padding: 0 16px;

  line-height: 40px;

  color: var(--app-secondary-color);

  text-decoration: none;
}

.drawer-list .iron-selected {
  font-weight: bold;

  color: black;
}

@keyframes transition-in__animation {
  from {
    opacity: 0;

    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }
}

@keyframes transition-out__animation {
  from {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;

    transform: translate3d(0, 50px, 0);
  }
}

iron-lazy-pages > * {
  opacity: 0;

  transform: translate3d(0, 50px, 0);
}

.transition--in {
  opacity: 0;

  animation: .15s transition-in__animation forwards;
}

.transition--out {
  animation: .15s transition-out__animation forwards;
}
